### Benchmark Model

cvxopt
requests
Empyrial
pandas_market_calendars
ipython-extensions
yfinance
matplotlib
pandas
numpy
collections
bs4
warnings
os
random
time
tqdm
mpl_toolkits
scipy
tensorflow
datetime
typing
